@tailwind base;
@tailwind components;
@tailwind utilities;

/* Gradients */
.gradient {
  background-image: radial-gradient(
    circle at center top,
    rgba(113, 113, 113, 0.25) 0%,
    #101010 20%
  );
}
@media (min-width: 1024px) {
  .gradient {
    background-image: radial-gradient(
      circle at center top,
      rgba(113, 113, 113, 0.25) 0%,
      #101010 30%
    );
  }
}

/* Images */
.profile {
  box-shadow: 15px 10px 2px 5px rgba(124, 235, 255, 0.3);
}

/* Tabbed Container */
[tabIndex="-1"] {
  color: #aaa !important;
}
.Mui-selected {
  font-weight: 600;
}

.MuiTab-root {
  text-transform: unset !important;
}
